@import './reset.scss';
@import './dimens.scss';
@import './color.scss';

// 文本两行展示
.text-aline-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.z-index-max {
  z-index: 99999;
}

.z-index-2 {
  z-index: 2
}

// 三角形
.s-icon{
  display: inline-block;
  width: 0;
  height: 0;
  border-top: px2rem(8) solid $mainColor;
  border-left: px2rem(6) solid transparent;
  border-right: px2rem(6) solid transparent;
}

// 遮盖层
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.4)
}
